<section class="blog-area section">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6" *ngFor="let shopfashion of shopFashions | async">
        <div class="card h-100">
          <div class="single-post post-style-1">
            <div class="blog-image"><img [src]="shopfashion.image" alt="Blog Image"></div>
            <a class="avatar" [routerLink]="['/shop-fashion', shopfashion.id]"><img [src]="shopfashion.avatar" alt="Profile Image"></a>
            <div class="blog-info"><h4 class="title"><a href="#"><b>{{shopfashion.name}}</b></a></h4>
              <ul class="post-footer">
                <li><a href="#"><i class="ion-heart"></i>{{shopfashion.price}}</a></li>
                <li><a href="#"><i class="ion-chatbubble"></i>{{shopfashion.quality}}</a></li>
                <li><a href="#"><i class="ion-eye"></i>{{shopfashion.style}}</a></li>
              </ul>
            </div>
            <!-- blog-info -->
          </div>
          <!-- single-post -->
        </div>
        <!-- card -->
      </div><!-- col-lg-4 col-md-6 -->

    </div>
  </div>
</section>